@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model OnlineShopping.Models.Register
<div style="width:500px;margin-left:300px">
    <form method="post">
        <input type="text" asp-for="Uname" class="form-control" placeholder="Name" />
        <span class="btn btn-danger" asp-validation-for="Uname"></span>
        <br />
        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
        <span class="btn btn-danger" asp-validation-for="Password"></span>
        <br />
        Male: <input type="radio" asp-for="Gender" value="true" /> <br />
        Female: <input type="radio" asp-for="Gender" value="false" /> <br />
        <input type="date" asp-for="Dob" class="form-control" placeholder="Dob" /> <br />
        <span class="btn btn-danger" asp-validation-for="Dob"></span>

        <input type="text" asp-for="Designation" class="form-control" placeholder="Designation" />
        <span class="btn btn-danger" asp-validation-for="Designation"></span>
        <br />
        <input type="text" asp-for="Email" class="form-control" placeholder="Email" />
        <span class="btn btn-danger" asp-validation-for="Email"></span>
        <br />
        <input type="text" asp-for="Country" class="form-control" placeholder="Country" />
        <span class="btn btn-danger" asp-validation-for="Country"></span>
        <br />

        <input type="submit" class="btn btn-success" value="Register" />
    </form>
</div>


<div class="btn btn-info">
    @ViewData["msg"]
</div>