@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Thanks for using our service!!</h1><br />
<a asp-controller="OnlineShop" asp-action="Login" class="btn btn-success">Login</a>
