@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Welcome to Secured Page</h1><hr />

<div style="background-color:red">
    Showing very sensitive data
</div>